[Unit]
Description=Daily syndicator image update

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
Unit=syndicator-update.service

[Install]
WantedBy=timers.target
